apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node
      version: blue
  template:
    metadata:
      labels:
        app: node
        version: blue
    spec:
      containers:
      - name: app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
