name: Terraform-PROD

on:
  push:
    paths:
      - terraform/**

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: |
        cd terraform/envs/prod
        terraform init

    - name: Terraform Plan
      run: |
        cd terraform/envs/dev
        terraform plan        

    - name: Terraform Apply
      run: |
        cd terraform/envs/prod
        terraform apply -auto-approve
